<div class="row-fluid task_modal_content">
  <div class="span8">
    <div class="row-fluid">
      <div class="span12" style="font-size: 21px;color: #7c7c7c; font-weight: bold">
        <%= @task.title %>
        <p>
          <%= best_in_place @task, :status_id, :type => :select, :collection => Status.all.collect{|status| [status.id, status.title]} %>
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" style="color: #c8c8ca">
        <%= @task.start_date.strftime("%B %d, %Y") if @task.start_date.present? %>
      </div>
    </div>

    <% @task.sub_tasks.each do |sub_task| %>
        <div class="row-fluid" style="background: white">
          <div class="span6" style="color: #a2a2a2;font-size: 19px;font-weight: bold;">
            <%= best_in_place sub_task, :title, :type => :input, :nil => 'Enter Title' %>
          </div>
          <div class="span6" style="text-align: right">
            <%#= sub_task.created_at.strftime("%B %d, %Y") %>
          </div>
          <div class="span12" style="width: 90%;color: #ced0d3">
            <%= best_in_place sub_task, :description, :type => :textarea, :nil => 'Enter Description' %>
          </div>
          <div class="span12 people" sub_task_id="<%= sub_task.id %>" style="margin: 10px 0 10px 0">
            <% sub_task.users.each do |user| %>
                <img user_id="<%= user.id %>" src="<%= user.avatar.url(:thumb) %>" class="ui-draggable new_member" alt="Missing_icon" style="position: relative;">
            <% end %>
          </div>
          <div class="span12" style="background: #f8f6f7">
            <p id="comments">
              <%= form_for Comment.new, :url => comments_url, :html => {:method => :post} do |f| %>
                  <span><%= image_tag current_user.avatar.url(:thumb)%></span>
                  <%= f.text_area :description, :style => "width: 78%;height: 30px;", :class => "comment_description" %>
                  <%= hidden_field :comment, :sub_task_id, :value => sub_task.id %>
              <% end %>

            <div style="width: 100%" class="sub_task_comments">
              <%= render :partial => 'shared/comments', :locals => {:comments => sub_task.comments} %>
            </div>
            </p>
          </div>
        </div>
    <% end %>

  </div>
  <div class="span4">
    <h3>Member</h3>
    <% User.order("created_at DESC").each do |user| %>
        <div class="row-fluid" style=" ">
          <div class="span3">
            <%= image_tag user.avatar.url(:thumb), :class => 'member', :user_id => user.id %>
          </div>
          <div class="span9">
            <%= user.email %>
          </div>
        </div>
    <% end %>
    <div class="row-fluid">
      <div class="span12">
        <h3>Activities</h3>
        <%= render :partial => "shared/comments", :locals => {:comments => task_activities(@task)} %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $(".new_member").draggable();
  })
</script>