<table width="100%">
  <% comments.each do |comment| %>
      <tr>
        <td width="20%" style="text-align: right">
          <%= image_tag comment.user.avatar.url(:thumb) if comment.user %>
        </td>
        <td width="80%">
          <span class="commenter"><%= comment.user.email if comment.user.present? %></span>
          <span class="commented_at"><%= time_ago_in_words(comment.created_at) %>  ago</span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="comment_desc"><%= comment.description %></td>
      </tr>
  <% end %>
</table>