<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>

  <h3 id="modal_header"><%= sub_task.title %></h3>
  <input type="hidden" id="task_id_modal" value="<%= sub_task.task.id %>">
</div>
<div class="modal-body">
  <p id="modal-content">
    <%= best_in_place sub_task, :description, :type => :input, :nil => 'Enter Description' %>
  </p>

  <p id="priorities">
    <%= best_in_place sub_task, :priority_id, :type => :select, :collection => Priority.all.collect{|priority| [priority.id, priority.title]} %>
  </p>

  <p id="comments">
    <%= form_for Comment.new, :url => comments_url, :html => {:method => :post} do |f| %>
        <%= f.text_area :description, :style => "width: 90%;height: 60px;", :class => 'comment_description' %>
        <%= hidden_field :comment, :sub_task_id, :value => sub_task.id %>
    <% end %>
    <div style="width: 100%" class="sub_task_comments">
      <%= render :partial => 'shared/comments', :locals => {:comments => sub_task.comments }%>
    </div>
  </p>
</div>
<div class="modal-footer">

</div>