<div class="task-activity" action="+">
  <div class="task-activity-text"><%= activities.size %> Activities</div>
  <div class="task-activity-action">+</div>
</div>

<div class="activities" style="display: none;">
<% activities.each do |comment| %>
<div class="activity-panel">
  <div class="activity-user-pic">
    <%= image_tag "rails.png", :width => 30, :height => 30 %>
  </div>
  <div class="activity-info">
    <span class="activity-info-title"><%= comment.user ? comment.user.email.split('@').first : ''  %> commented on <%= snippet(comment.sub_task.title, {:word => 1}) %></span> <br />
    <span class="activity-info-date"><%= comment.created_at.strftime("%B %d, %Y at %I:%M%p")%></span>
  </div>
</div>
<% end %>
</div>