<div class="row-fluid task-row" style="float: left;">
  <% tasks.each do |task| %>
      <div class="span4 task_<%= task.id %>">
        <div class="task">
          <div class="task-title">
            <div class="task-title-text"><%= best_in_place task, :title, :type => :input %></div>
            <div class="task-options">
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="add-sub-task" task_id="<%= task.id %>">
                    <a href="javascript: void(0)"><i class="icon-plus-sign"></i>New Sub Task</a></li>
                  <li class="delete-task" task_id="<%= task.id %>">
                    <a href="javascript: void(0)"><i class="icon-trash"></i>Delete</a></li>
                  <li class="copy-task" task_id="<%= task.id %>"><a href="javascript: void(0)"><i class="icon-share"></i>Copy</a></li>
                </ul>
              </div>
            </div>
            <div style="clear: both;"></div>
            <div class="task-date"><input type="text" class="datepicker" size="10" value="<%= task.start_date ? task.start_date.strftime("%b %d") : '' %>"></div>
          </div>

          <div class="row-fluid time_tracking">
            <div class="span3">
              Start Tracking <br />
              <i class="icon-play-circle clock"></i>00:00:00
            </div>
            <div class="span3">
              Today <br />
              99:99h
            </div>
            <div class="span3">
              Yesterday <br />
              88:88h
            </div>
            <div class="span3">
              total <br />
              45:78h
            </div>
          </div>


          <div class="sub-tasks">
            <% task.sub_tasks.each do |sub_task| %>
                <div class="sub-task-panel">
                  <div class="sub-task">
                    <div class="priority" style="color: <%= sub_task.priority ? sub_task.priority.color_code : '#fff' %>">&#9701;</div>
                    <div class="sub-task-title"><%= best_in_place sub_task, :title, :type => :input %></div>
                    <div class="sub-task-date">Date</div>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="accordion" id="task_activities_<%= task.id %>">
            <%= render :partial => 'sub_task_activities', :locals => {:activities =>  task_activities(task)} %>
          </div>
        </div>
      </div>
  <% end %>
</div>