<script type="text/javascript">
  $(document).ready(function(){
      $(".search-task-txt").tagit({
          afterTagRemoved: function(event,ui){
              var deletable_tag = ui.tag.find("span.tagit-label").html()
              var tag_choices = Array()
              $("ul.tagit li.tagit-choice span.tagit-label").each(function(index,span){
                  tag_choices.push(span.innerHTML)
              })
              var index = tag_choices.indexOf(deletable_tag)
              tag_choices.splice(index,1)

              tag_choices = tag_choices.join(",")

              window.location = "/?tag_choices=" + tag_choices
              //alert(tag_choices)
          }
      });
      $("input.ui-autocomplete-input").keyup(function(e){
          if(e.which == 13 || e.which == 32){
              var tag_choices = Array()
              $("span.tagit-label").each(function(index,span){
                  tag_choices.push(span.innerHTML)
              })
              tag_choices = tag_choices.join(",")
              window.location = "/?tag_choices=" + tag_choices
          }

      })
  })

</script>
<%= form_for('', :url => root_url, :method => :GET,) do |f| %>

<div class="row-fluid" style="background: #c2c9d6;">
  <span class="span2" style="margin: 5px 0 0 10px;">
    <a id="new-task-btn" href="#" class="btn btn-small"><i class=" icon-plus-sign"></i> New Task</a>
  </span>
  <span class="span8" style="margin-left: 0; margin-top: 5px">
    <div style="width: 100%">
      <input type="text" class="search-task-txt" value="<%= params[:tag_choices].to_s %>"/>
    </div>
  </span>
  <div class="row" style="margin-top: 5px;">
  <span class="span2" style="margin-left: 3%">
        <div class="btn-group">
          <a class="btn" href="#"><i class="icon-filter icon-white"></i> Filter</a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Status.all.each do |status| %>
                <li class="status" status_id="<%= status.id%>">
                  <a href="javascript: void(0)"><i class=""></i> <%= status.title %>
                </a></li>
            <% end %>
          </ul>
        </div>

  </span>
  </div>
</div>
<div class="row-fluid" style="background: #e4e5e9;margin-top: 3px;">
  <div class="span2">
    <div class="input-append date datepicker" data-date="<%= Time.now.strftime("%b %d") %>" data-date-format="M dd">
      <input name= "date_filter" size="16" type="text" value="<%= Time.now.strftime("%b %d") %>" readonly style="width: 50px;"><span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

    <div class="span10">
      <%= will_paginate @tasks, :previous_label => '&#9666;', :next_label => '&#9656;' %>
    </div>

</div>
<%= render :partial => 'tasks_panel', :locals => {:tasks => @tasks } %>
<% end %>
