/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.activity {
    margin: 0 !important;
    padding: 6px !important;
    border-bottom: 1px solid !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.00) inset !important;
}


#page{
    background: #ecf0f3

}

#datepicker{
    /*background: none repeat scroll 0 0 #E4E5E9;
    cursor: pointer;
    border: none;
    width: 80%;
    margin-top: 7px;*/
}

.navbar-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

table#main {
    width: 100%;
    float: left;
}

table tr td#activity {
    width: 23%;
    background: #f8f8f8;
    min-width: 250px;
}

table tr td#content {
    width: 77%;
}

#top-bar {
    /*height: 65px;*/
    background: #c2c9d6;
    padding: 8px 0;
    width: 100%;
}

#navigation-bar {
    height: 42px;
    background: #e4e5e9;
    min-width: 350px;
    width: 100%;
}
.date-picker-panel {
    width: 10%;
}
.pagination {
    width: 90%;
    text-align: center;
    margin: 0 !important;
}

.pagination a, .pagination span, .pagination em {
    border: 1px solid #ff0000;
}

.pagination ul li a {
    background: #e4e5e9 !important;
    color: #6b6d6d !important;
    border-color: #b2b2b2 !important;
}

#navigation-bar span {
    display: inline-block;
    width: 2%;
    text-align: center;
    padding: 10px 1%;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin-left: -5px;
    min-width: 15px;

}

#navigation-bar span a {
    text-decoration: none;
    color: #959595;
}

#navigation-bar span.selected {
    /* background: #6fa8dc;*/
}

.task-title, .task {
    width: 100%;
}

.task-title {
    background: #f4f5f9;
    height: 58px;
    color: #000000;
    border-bottom: 1px solid #CCCCCC;
}

.task-activity {
    background: #f4f5f9;
    color: #747474;
    float: left;
    width: 95%;
    padding: 7px;
    border-bottom: 1px solid white;
}

.task {
    padding: 5px 5px 5px 0;
    float: left;
    background: #ecf0f3;
    width: 100%;
}
#task-panel {
    background: #ecf0f3;
    padding-top: 10px;
}

.task span {
    /*padding: 7px 0 0 10px;
    float: left;*/
}

.sub-tasks{
}

.row-fluid .span4 {
    margin: 0 0 0 7px !important;
}

.sub-task {
    background: #ffffff;
    width: 95%;
    margin-top: 2px;
    height: 28px;
    cursor: pointer;
    padding: 7px;
    color: #6fa8dc;
}

.sub-task-panel {
    background: #e1e2e6;
}

.task-btn, .search-task, .search-sub-task, .filter-select {
    height: 30px;
}

.search-task-txt {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid white;
    padding-left: 10px;
    min-width: 100px;
}

.search-panel {
    float: left;
    width: 74%;
    margin-left: 2%;
    min-width: 300px;
}

.new-task-btn-panel {
    width: 10%;
    float: left;
    min-width: 70px;
}

.filter-select-panel {
    width: 10%;
    float: left;
}

.task-btn {
    margin-left: 2%;
    float: left;
}

.search-task, .search-sub-task {
    width: 60%;
    margin-left: 5%;
}

.filter-select {

}

.date {
    margin: 0 2% 0 2%;
    float: left;
}

header {
    width: 100%;
    background: #000000;
    height: 55px;
    min-width: 650px;
    float: left;
}

#logo {
    float: left;
    min-width: 150px;
}

#user {
    float: right;
    min-width: 450px;
}

 ul.user-info li  {
    padding-left: 12px
}

ul.user-info li a {
    padding-left: 5px !important;
}



#notifications {
    background: #6fa8dc;
    margin-right: 10px;
}

.circle {
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    width: 21px;
    float: left;
    margin-left: 3px;
    color: #000000;
    height: 21px;
}

#notification-text {
    float: left;
    margin-left: 3px;
}

.number {
    color: #000000 !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
}

li.userinfo span {
    padding: 0 !important;
    margin: 0 !important;
}

li.userinfo span img {
    margin-right: 3px !important;
}

.activity-cell {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #000000;
    padding-top: 10px;
}
.activity-panel {margin: 9px 0 0 10%;float: left;}
.activity-user-pic {float: left;}
.activity-info {float: left;margin-left: 3px; font-size: 12px;text-align: left}
.task-title-text {float: left;margin: 3px 0 0 3px}
.task-options {
    float: right;
    margin: 3px 3px 0 0;
}
.task-date{color: #959595;font-size: 12px;float: left;margin-left: 3px;}
.task-title table{
    font-size: 12px;
    width: 100%;
    color: #959595;
    float: left;
}
.sub-task-title {float: left;color: #959595}
.sub-task-date {float: right; color: #959595}
.task-activity-text {float: left;}
.task-activity-action{float: right;}
.task .activity-panel {margin: 0; width: 100%;background: #F4F5F9; padding-bottom: 3px;}
span.activity-info-title, span.activity-info-date {margin: 0; ;padding: 0;}
span.activity-info-title{ color: #8b8c8d}
span.activity-info-date{color: #cececf}
.priority {
    float: right;
    left: 7px;
    position: relative;
    right: 0;
    top: -12px;
    color: red;
}

input.ui-autocomplete-input, input.ui-autocomplete-input:focus{
    border: none;
    box-shadow: none !important;
}

p#modal-content span.best_in_place {
  width: 100%;
}

p#modal-content span.best_in_place textarea {
    width: 96%;
}

.task-date .datepicker{
    width: 45px !important;
    margin: 0;
    padding: 0;
    border: none;
    background: #F4F5F9;

}

.time_tracking div {
    font-size: .88em;
    text-align: center
}

.time_tracking i.clock{
    margin-right: 2px;
    cursor: pointer;
}

.modal {
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f4f5f8 !important;
}

#hircle_task_modal .row-fluid {
    padding: 10px 0 0 10px;
}
#hircle_task_modal .row-fluid span.best_in_place {
    width: 90%;
}

#hircle_task_modal {
    width: 70%; /* desired relative width */
    left: 15%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto;

}

.people {
    width: 90% !important;
    min-height: 45px !important;
    background: #f5f4f9;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sub_task_comments .commenter{
    color: #b3b2b3 !important;
}
.sub_task_comments .commented_at{
    color: #eeeced !important;
}
.sub_task_comments .comment_desc{
    color: #c5c5c5 !important;
}
