.ui-autocomplete {
    background-color: #fff;
    position: absolute;
    cursor: default;
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
    border: 1px solid #E5E5E5;
    border-top: none;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px #888;
    box-shadow: 0 3px 5px #888;
    font-size: 12px;
}

.ui-autocomplete .ui-menu-item {
    padding: 0;
    margin: 0;
}

.ui-autocomplete  .ui-menu-item a {
    display: block;
    padding: 4px 6px;
    margin: 0;
    text-decoration: none;
    line-height: 12px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #fff;
    color: #78959D;

}

.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
    background-color: #c0d1e2;
    color: #555;
    border-color: #a6cef7;
}

.ui-autocomplete-loading {
    background: white url(ui-anim_basic_16x16.gif) right center no-repeat;
}

ul.tagit {
    cursor: text;
    overflow: auto;
    font-size: 14px;
    width: 97%;
    /*padding: 3px;*/
    /*margin-top: 2px;*/
    /*margin-right: 6px;*/
    /*margin-bottom: 16px;*/
    border: 1px solid #E5E5E5;
    background: #fff;
    color: #fff;
    height: 30px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-left: 0px !important;
}

ul.tagit li {
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: right;
    position: relative;
}

ul.tagit li span{
    color: #808080;
    background: #dadada;
}
ul.tagit.ui-sortable li.tagit-choice a.ui-icon.ui-icon-grip-dotted-vertical{
    float: left;
    width: 12px;
    margin-left: -5px;
    cursor: move;
}

ul.tagit li.tagit-choice {
    background-color: #dadada;
    border: 1px solid #dadada;
    padding: 0px 13px 0px 5px;
    margin: 3px 8px 0 0;
}

ul.tagit li.tagit-choice.selected {
    background-color: #633;
    border-color: #f76464;
}

ul.tagit li.tagit-choice:hover {
    background-color: #dadada;
    border-color: #dadada;
}

ul.tagit li.tagit-new {
    padding: 2px 4px 3px;
    padding: 2px 4px 1px;
    padding: 2px 4px 1px 0;
    float: left;
}
.ui-helper-hidden-accessible {display: none;}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul.tagit li.tagit-choice a.tagit-close {
    color: #ccc;
    cursor: pointer;
    font-size: 12px;
    outline: medium none;
    padding: 0px 0 2px 3px;
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
}

ul.tagit li.tagit-choice a.tagit-close:hover {

}

ul.tagit div.tagit-label.hidden {
	display: none;
}

ul.tagit input.tagit-edit {
	margin: 0px 0px 0px 2px;
	border: none;
	line-height: 16px;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    border: none !important;
    margin: 0 0 0 3px !important;
    padding: 0 0 0 16px  !important;
    width: inherit !important;
    outline: none;
}

.tagit-hiddenSelect {
    display:none;
}