<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hircle2" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <%= render 'shared/modal' %>
  <%= render 'shared/task_modal' %>

    <div class="navbar navbar-fluid-top" style="margin-bottom: 0px;">
      <div class="navbar-inner">
        <div class="container-fluid" style="background: #000">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
            <%= image_tag 'logo_hircle.png' %>
          </a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right user-info" style="padding-top: 14px">
              <% if user_signed_in? %>
              <li><a href="#" style="background: #427dba;"><span class="badge" style="background:#FFF; color:#000">1</span>Notifications</a></li>
              <li style="min-width: 210px">
                <%= image_tag current_user.avatar.url(:thumb), :style => "float: left", :width => 37, :height => 37 %>
                <!--<img style="float: left" src="/assets/rails.png" width="30" height="30">-->
                <%= link_to current_user.email, "#"  %>
              </li>
              <li><%= link_to "Logout", destroy_user_session_url, :method => :delete  %></li>
              <% else %>
                  <li>
                    <%= link_to "Sign In", new_user_session_url %>
                  </li>
                  <li>
                    <%= link_to "Sign Up", new_user_registration_url %>
                  </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
    
    
    <div class="container-fluid" id="page" >
      <div class="row-fluid">
        <div class="span3">

          <div class="well sidebar-nav activity">
            <ul class="nav nav-list">
              <li>
                <div class="row">
                  <div class="span2 offset2 ">
                    Activity
                  </div>
                  <div class="span8 ">
                    <a class="pull-right" href="#">View All..</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <% Comment.limit(10).each do |comment| %>
          <div class="well sidebar-nav activity">
            <ul class="nav nav-list">
              <li>
                <div class="row">
                  <div class="span2 offset2">
                    <%= image_tag comment.user.avatar.url(:thumb) if comment.user %>
                  </div>
                  <div class="span8">
                    <%= comment.user ? comment.user.email : '' %> commented
                    <%= comment.created_at.strftime("%B %d, %Y at %I:%M%p")%>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <% end %>


        </div><!--/span-->
        <div class="span9 " style="margin-left: 0 !important;" >
          <% flash.each do |name,message|%>
            <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
              <a class="close" data-dismiss="alert">x</a>
                <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p></p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
